<!-- app/views/messages/index.html.erb -->
<%# <!DOCTYPE html>
<html>
<head>
  <title>Messages List</title>
</head>
<body>
  <h1>Messages List</h1>
  <ul>
    <% @messages.each do |message| %>
      <%# <li><%= message.content %></li>
    <%# <% end %>
  <%# </ul> %>
<%# </body> %> %>
<%# </html> %> %> %>
